@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.italic {
  -moz-transform: scale(1) rotate(0deg)
    translate(0px, 0px) skew(30deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg)
    translate(0px, 0px) skew(30deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px)
    skew(30deg, 0deg);
  -ms-transform: scale(1) rotate(0deg)
    translate(0px, 0px) skew(30deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px)
    skew(30deg, 0deg);
}
